[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
rsa = "*"
flask = "*"
cryptography = "*"
jwt = "*"
python-jose = "*"
pytest = "*"
pytest-flask = "*"
ruff = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.12"
